# Build targets
encrypt
decrypt

# Object files
*.o

# Temporary files
*.tmp_enc
*.tmp_dec

# Environment / Sensitive files
.env

# OS files
.DS_Store

# IDE and Dev Environment
.vscode/
.idea/

# Testing and Benchmarks
benchmark_test/
encryptoni-v*.tar.gz